@model IEnumerable<Proyecto>
@* Para pasar datos entre Parthials es necesario pasar el tipo de dato directamente como modelo *@
@if (Model is not null)
{
    <div class="text-center pt-5 text-light">
        <h1>Mis Proyectos Completados</h1>
        <p>Podemos ver los siguientes trabajos mas recientes:</p>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@item.ImagenURL" class="card-image-top" alt="img-proy"/>
                        <div class="card-body">
                            <h5 class="card-title ">
                                @item.Titulo
                            </h5>

                            <p class="card-text">
                                @item.Descripcion
                            </p>

                            
                        </div>

                        <div class="card-footer">
                            <a href="@item.Link" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Visitar</a>
                        </div>

                    </div>

                </div>
            }
        </div>
    </div>
}
