
@* Para pasar datos entre Parthials es necesario pasar el tipo de dato directamente como modelo *@
@if (Model is not null)
{
    <div class="text-center pt-5 text-light">
        <h1>Mis Proyectos Completados</h1>
        <p>Podemos ver los siguientes trabajos mas recientes:</p>
    </div>
   <partial name="_ListadoProyectos" model="Model"></partial>
}


