<div class="row text-dark seccionMSG flex-column align-items-center text-center">
    <h1 class="mb-5">Bienvenidos a mi Portafolio</h1>

    <div class="col-md-6 descrip mb-5">
        <p>Empece en el mundo del desarrollo web a finales del 2021, me gusto mucho y me dedique a estudiar el
            desarrollo web orientado al back-end. Entonces me centre en estudiar Node JS y POO para poder estudiar
            ASP.net Con
            Aplicaciones MVC</p>
    </div>

    <div class="col-md-6 frameworks">
        <p class="f-text">Tecnologias y frameworks favoritos</p>
        <img src="~/img/foto1.png" alt="node">
        <img src="~/img/foto2.png" alt=".net">
        <img src="~/img/react.png" alt="react">
    </div>
</div>
<div style="margin-top:-60px ;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 skil m-2 shadow">
            <i class="bi bi-code-slash isk"></i>
            <h3>Back-end</h3>

            <p class="text-dark cabecera">
                Stack:
            </p>

            <p>ASP.net Core, Express, SQL server,MYsql, MongoDB</p>

            <p class="text-dark cabecera">
                Experiencia:
            </p>

            <ul>
                <li>WEB Apis</li>
                <li>ASP.net Core MVC</li>
                <li>Blazor</li>
            </ul>
        </div>

        <div class="col col-3 skil m-2 shadow">
            <i class="bi bi-code-square isk"></i>
            <h3>Front-end</h3>

            <p class="text-dark cabecera">
                Stack:
            </p>

            <p>React,Blazor,Handdlebars</p>

            <p class="text-dark cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React Hooks</li>
                <li>Jquery</li>
                <li>Reducers</li>
            </ul>
        </div>

    </div>
</div>
