@{
    ViewData["title"] = "Gracias";
}


<h1 class="text-light">Gracias Por Contactarme</h1>
<p class="text-light">A la brevedad me estare comunicando !</p>

<div> <a asp-action="Index" asp-controller="Home" >Volver al home</a></div>
