@model IEnumerable<Proyecto>
@{
    ViewData["Title"] = "Proyectos";
}



<div class="container text-light">
    <h1>Mis Proyectos</h1>
    <p>Aca tengo todos mis proyectos</p>
</div>


<partial name="_ListadoProyectos" model="Model"></partial>


