@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.miImg{
    width: 16.3rem;
    border-radius: 50%;
    margin-top: 2rem;
    opacity: 90%;
}

.miBody{
    background-color: #08080e;
    font-family: 'Baloo 2', cursive;
}

.seccionMSG{
    padding: 5%;
    margin-top: 5%;
    background-color: #6fc3dd;
}

.seccionMSG h2{
    margin-bottom: 4rem;
    
}
.descrip{
    background-color: aliceblue;
    font-size: 1.2rem;
    padding: 3%;
    border-radius: 3px;
}
.frameworks img{
    width: 150px; 

}
.frameworks{
    background-color: aliceblue;
    border-radius: 3px;
}
.f-text{
    
    font-size: 1.2rem;
    color: #08080e;
}

.cabecera{
    font-weight: bold;
}

.skil{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 2%;
}
.skil ul{
    list-style: none;
    padding: 0;
}
.isk{
    font-size: 2rem;
    color: #08080e;
    transition: all .3s;
}
.isk:hover{
    color: #6fc3dd;
}

@media (max-width:768px){
    .descrip{
        margin: 20px 0 20px 0;
    }
    .seccionMSG{
        padding: 3%;
    }
   
}